body {
    margin: 0;
}
html{
    scroll-behavior: smooth;
}

header{
    min-height: 9vh;
    align-items: center;
    display: flex;
    background-color: black;
    color: white;
    width: 100vw;
    position: fixed;
    z-index: 2;
    justify-content: space-between;
}

div.navbar{
    float: right;
    padding-right: 4%;
}
div.left-navbar{
    display: flex;
    align-items: center;
    z-index: 3;
}
div.navbar span{
    display: inline-block;
    padding: 0 10px;
    word-wrap: nowrap;
}
div.navbar a{
    text-decoration: none;
    color: white;
}
header img{
    max-width: 80%;
}
div.logo{
    flex: 0 0 20%;
}
div.title{
    font-size: 5ch;
    font-weight: bold;
    align-items: center;
}
div.title p{
    display: inline;
    color: #FFED00;
}

.flex-container#Intro{
    display: flex;
    height: 86%;
    justify-content: flex-end;
    align-self: center;
}
.background{
    background-image: url(imgs/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
}
div#Intro div{
    margin: 14% 15%;
    margin-top: 12%;
    padding: 1%;
    background-color: rgba(227, 237, 240, 0.39);
    border-radius: 30px;
    min-width: 350px;
    max-width: 35vw;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
div#Intro h1{
    font-size: 6ch;
    align-content: center;
    margin: 0 0;
    padding: 2%;
    background-color: rgba(0, 0, 26, 1);
    color: white;
    opacity: 90%;
    border-radius: 10px;
}
div#Intro h1 p{
    color:#e6e600;
    display: inline;
    padding: 0 0;;
}
div#Intro p.text{
    padding: 5% 5%;
    padding-bottom: 20%;
    margin: 0;
}
div#Intro a{
    width: 40%;
}
button.Bestsellers{
    width: 100%;
    padding: 7% 3%;
    font-size: 2.3ch;
    background-color: #00001a;
    color: white;
    border-radius: 15px;
    border-color: #e6e600;
    border-width: 3px;
}
button.Bestsellers p{
    padding: 0 0;
    margin: 0 0;
    display: inline;
    color: #e6e600;
}

.flex-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 1vh;
}
.bookcard{
    width: 20vw;
    height: 35vw;
    background: transparent;
    margin: 0 0.5vw;
}
.bookcard-inner{
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.bookcard:hover .bookcard-inner{
    transform:rotateY(180deg);
}
.frontside-bookcard, .backside-bookcard{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: rgba(0, 0, 26, 0.9);
    border-radius: 20px;
    color: white;
    justify-items: center;
    align-items: center;
}
.frontside-bookcard{
    display: grid;
    row-gap: 0;
    grid-template-rows: 80% 20%;
}
.backside-bookcard{
    display: grid;
    transform: rotateY(180deg);
    justify-content: center;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 70% 10% 20%;
}
.bookimg{
    height: 90%;
    width: 100%;
    grid-row: 1;
    overflow-x: hidden;
    overflow-y: hidden;
    display: grid;
}
.bookcard img{
    margin: 0 0;
    width: 100%;
    justify-self: center;
    align-self: center;
}
.booktitle{
    grid-row: 2;
}
.booktitle h2{
    margin-top: 5%;
    margin-bottom: 5%;
}
.booktitle h4{
    margin-top: 10%;
}
p.book-description{
    grid-row: 1;
    grid-column: 2;
}
.book-price{
    grid-column: 2;
    grid-row: 2;
    color:#e6e600;
}
.add-to-cart{
    width: 50%;
    grid-row: 3;
    grid-column: 2;
    font-weight: bold;  
    border-color: black;
}
.add-to-cart:focus{
    background-color:chartreuse;
    border-color: white;
}

section{
    min-height: 100vh;
    display: grid;
    align-items: center;
    padding-top: 5%;
}
section#Intro{
    padding-top: 0;
}
.section-header{
    background-color: white;
    justify-self: center;
    width: 90vw;
    height: 10vh;
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: 4ch;
    border-radius: 60px;
    opacity: 60%;
    margin: 2vh 0;
}

.search-bar{
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
}
.search-bar input{
    width: 45vw;
    padding: 0.5% 2ch;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #00001a;
    color: white;
    font-size: 1.2em;
}
.search-bar button{
    padding: 0.5% 0;
    width: 5vw;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 1.1em;
}
.search-bar button:hover{
    font-size: 1.2em;
    background-color: #e6e600;
}

button.backtotop{
    font-size: 3ch;
    padding: 1%;
    border-radius: 50%;
    color: black;
    background-color: white;
    position: fixed;
    bottom: 3vh;
    right: 3vh;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-content: center;
    border-width: 0;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    height: 14vh;
    row-gap: 20%;
    margin-top: 3vh;
}

.copyrights{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
.copyrights span{
    margin: 0 0.5%;
}
.copyrights a{
    color: grey;
}
.socialmedia-links{
    display: flex;
    justify-content: center;
}
.socialmedia-links a{
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}
.socialmedia-links span{
    margin: 0 1%;
}

div.reviews-holder{
    width: 60vw;
    margin: 5% 0%;
    align-self: center;
    justify-self: center;
    display: grid;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    width: auto;
    align-self: center;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 5px;
    user-select: none;
    background-color: rgba(0, 0, 26, 0.4)
}
.next {
    justify-self: flex-end;
    border-radius: 5px;
}
.prev:hover, .next:hover{
    background-color: rgba(0, 0, 26, 0.8);
}
div.review{
    display: none;
    grid-template-columns: 3% 30% 62% 5%;
    grid-template-rows: 5% 15% 75% 5%;
    width: 100%;
    justify-self: center;
    align-self: center;
    background-color: white;
    border-radius: 40px;
    animation-name: fade;
    animation-duration: 2s;
    padding-top: 2%;
    padding-bottom: 4%;
}
div.review-img{
    grid-column: 2;
    grid-row: 2 / span 2;
    display: grid;
}
.reviewer-email{
    grid-column: 3;
    grid-row: 2;
    padding-left: 4%;
}
.review-content{
    grid-column: 3;
    grid-row: 3;
    padding-top: 3%;
    font-size: 1.1em;
    padding-left: 3%;
}
img.review-img{
    justify-self: center;
    align-self: center;
    border-radius: 50%;
    width: 60%;
    height: 60%;
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
.dots{
    display: inline-flex;
    position: absolute;
    align-self: flex-end;
    justify-self: center;
    padding-bottom: 1.5%;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.activedot, .dot:hover {
  background-color: #717171;
}
  

div.review-form{
    width: 80vw;
    justify-self: center;
    height: 40vh;
    border-radius: 40px;
    background-color: rgba(227, 237, 240, 0.39);
}
form.review-form{
    display: grid;
    grid-template-columns: 5% 70% auto 5%;
    grid-template-rows: 8% auto 14% 8%;
    height: 100%;
    justify-items: center;
    align-items: center;
}
#review-text{
    grid-column: 2 / span 2;
    grid-row: 2;
    width: 95%;
    height: 95%;
    resize: none;
    border-radius: 20px;
    padding-left: 3ch;
    padding-top: 1ch;
}
#review-email{
    grid-column: 2;
    grid-row: 3;
    width: 90%;
    height: 80%;
    border-radius: 10px;
    padding-left: 2ch;
}
#review-submit{
    grid-column: 3;
    grid-row: 3;
    width: 80%;
    height: 70%;
    margin-right: 15%;
    border-radius: 10px;
}
@keyframes slide {
    from {margin-top: -100%;
    opacity: 0;}
    to {margin-top: 0%;
    opacity: 100%;}    
}


@media  screen and ((max-width:1100px) and (min-width:850px)) {
.bookcard{
    width: 25vw;
    margin: 1vh 3vw;
}
div.reviews-holder{
    width: 70vw;
}
}

@media screen and (max-width: 920px) {
.bookcard{
    width:35vw;
    height:60vw;
    margin: 1vh 5vw;
}
.search-bar input{
    width: 55vw;
}
.search-bar button{
    width: 10vw;
}
}

@media screen and (min-width: 801px) {
div.hamburger-menu{
    display: none;
}
div.navbar{
    display: inline-flex !important;
}
}

@media screen and (max-width: 800px) {
.hamburger-menu{
    display: block;
    margin-right: 5%;
}
div.title{
    flex: 0 0 75%;
    font-size: 6ch;
}
div.left-navbar{
    flex: 0 0 98%;
    background-color: black;
}
div.navbar{
    flex: 0 0 100%;
    display: none;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding-top: 3%;
    padding-bottom: 4%;
    animation-name: slide;
    animation-duration: 1s;
    z-index: 2;
}
div.navbar span{
    padding-top: 1%;
    font-size: 2.5ch;
}
.logo{
    flex: 0 0 30%
}
header{
    flex-wrap: wrap;
    justify-content: flex-start;
}
div.reviews-holder{
    width: 90vw;
} 
div.review-content{
    font-size: 0.9em;
}
div.reviewer-email{
    font-size: 0.9em;
}
}

@media screen and (max-width: 650px) {
.bookcard{
    width: 40vw;
    height: 80vw;
    margin: 1vh 3vw;
    font-size: 0.8em;
}
}

@media screen and (max-width: 460px) {
.bookcard{
    width: 65vw;
    height: 100vw;
    font-size: 1em;
    margin: 1vh 4vw;
}  
.search-bar input{
    width: 70vw;
}
.search-bar button{
    width: 15vw;
}
.section-header{
    font-size: 2.5ch;
}
.socialmedia-links span{
    margin: 0 2vw;
}
.copyrights span{
    margin: 0 0.75vw;
}
.flex-container#Intro{
    justify-content: center;
}
div#intro div{
    margin: 8% 10%;
    min-width: 80vw;
    height: 50vh;
}
div#Intro h1{
    font-size: 4.4ch;
}
section{
    padding-top: 10vh;
}
div.review-form{
    width: 90vw;
}
.copyrights{
    font-size: 0.7em;
}
 
div.review-content{
    font-size: 0.65em;
    padding-bottom: 7%;
}
div.reviewer-email{
    font-size: 0.55em;
}
}

@media screen and (max-width: 400px) {
    .bookcard{
        width:75vw;
        height: 130vw;
        margin: 1vh 4vw;
    }   
    div.title{
        font-size: 4.5ch;
    }
    div.navbar{
        font-size: 1.5ch;
    }
    button.Bestsellers{
        font-size: 2ch;
    }
    a.Bestsellers{
        width: 50%;
    }
}